<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" id="from" placeholder="From">
        <br>
        <input type="text" name="to" id="to" placeholder="To">
        <br>
        <input type="text" name="msg" id="msg" placeholder="Message">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>