<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Route</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/users/new" method="get">
        <button>Sign Up</button>
    </form>
    <br>
    <br>
    <form action="/login" method="get">
        <button>Login</button>
    </form>
</body>
</html>