<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <form id="update-form" method="post" action="/chats/<%= chat._id %>?_method=patch">
        From : <%= chat.from %>
            <br>
            <br>
            To : <%= chat.to %>
                <br>
                <br>
                Message :
                <br>
                <textarea name="msg" id="" cols="30" rows="10"><%= chat.msg %></textarea>
                <br>
                <br>
                <button>Submit</button>
    </form>
</body>

</html>